# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-syntax

# Code owners are the final gate for PR approval to their named section of code.
# If a single PR modifies multiple files with different code owner groups, at
# least one code owner of the touched file should approve the PR prior to
# merging.

* @ava-labs/platform-avalanchego
/graft/coreth @ava-labs/platform-evm
/graft/evm @ava-labs/platform-evm
/graft/subnet-evm @ava-labs/platform-evm
