# Each line is a file pattern followed by one or more owners.

# These owners will be the default code owners for everything in the repo.

# Unless a later match takes precedence, these owners will be requested for

# review whenever someone opens a pull request.

* @ava-labs/platform-evm
/.github/ @maru-ava @ava-labs/platform-evm
/triedb/firewood/ @alarso16 @ava-labs/platform-evm

