if [ -n "${AVALANCHEGO_DIRENV_USE_FLAKE}" ]; then
   if ! command -v nix > /dev/null; then
     echo "To enable entering a dev shell via this .envrc: ./scripts/run_task.sh install-nix"
   else
     # nix-direnv speeds up flake evaluation vs the built-in direnv support
     # due to caching and the avoidance of nix garbage collection.
     if ! has nix_direnv_version; then
       source "$(nix build nixpkgs#nix-direnv --no-link --print-out-paths)/share/nix-direnv/direnvrc"
     fi
     use flake
   fi
fi

# Repo-local commands like ginkgo and tmpnetctl
PATH_add bin

# Configure the explicit built path of avalanchego for tmpnet usage
export AVALANCHEGO_PATH="${AVALANCHEGO_PATH:-$PWD/bin/avalanchego}"

# Configure the local plugin directory for both avalanchego and tmpnet usage
mkdir -p $PWD/build/plugins                                       # avalanchego will FATAL if the directory does not exist
export AVAGO_PLUGIN_DIR="${AVAGO_PLUGIN_DIR:-$PWD/build/plugins}" # Use an existing value if set

# Default to tmpnetctl targeting the last deployed tmpnet network
export TMPNET_NETWORK_DIR="${TMPNET_NETWORK_DIR:-${HOME}/.tmpnet/networks/latest}"

# Allow individuals to add their own customisation
source_env_if_exists .envrc.local

# Allow individuals to add global customization without requiring .envrc.local files in each one
#
# Example usage:
#
# - Add to shell profile (~/.bashrc, ~/.zshrc, etc.)
#
#   export GLOBAL_ENVRC="$HOME/.envrc_global"
#
# - Create ~/.envrc_global with content like:
#
#   #!/usr/bin/env bash
#   if [[ -n "${ENVRC_GIT_REPO:-}" ]]; then
#     # Ensure BEADS_DIR is set to a repo-specific location
#     export BEADS_DIR=~/src/beads-"${ENVRC_GIT_REPO:-}"/.beads
#
#     # Link in a local context file for Claude if it exists
#     LOCAL_CTX_FILE=~/src/agents/AGENTS-"${ENVRC_GIT_REPO}".md
#     TARGET_CTX_FILE="${ENVRC_PROJECT_DIR}/CLAUDE.local.md"
#     if [[ -f "$LOCAL_CTX_FILE" && ! -f "$TARGET_CTX_FILE" ]]; then
#       ln -s "$LOCAL_CTX_FILE" "$TARGET_CTX_FILE"
#     fi
#   fi
#
export ENVRC_GIT_REPO=avalanchego # Enables configuring the global behavior by repo
export ENVRC_PROJECT_DIR="$PWD" # Enables targeting the current project directory
[[ -n "$GLOBAL_ENVRC" ]] && source_env "$GLOBAL_ENVRC"
