# Repo-local commands like ginkgo
PATH_add bin
# Built binaries like avalanchego, xsvm and tmpnetctl
PATH_add build
# Simplify usage of testing tools that need an avalanchego binary
export AVALANCHEGO_PATH=$PWD/build/avalanchego
export AVALANCHEGO_PLUGIN_DIR=$PWD/build/plugins
