use flake

# Repo-local commands like ginkgo and tmpnetctl
PATH_add bin

# Built binaries like avalanchego and xsvm
PATH_add build

# Configure the explicit built path of avalanchego for tmpnet usage
export AVALANCHEGO_PATH=$PWD/build/avalanchego

# Configure the local plugin directory for both avalanchego and tmpnet usage
mkdir -p $PWD/build/plugins                                       # avalanchego will FATAL if the directory does not exist
export AVAGO_PLUGIN_DIR="${AVAGO_PLUGIN_DIR:-$PWD/build/plugins}" # Use an existing value if set

# Allow individuals to add their own customisation
source_env_if_exists .envrc.local
