./main

*.log
*~
.DS_Store

awscpu

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.profile

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# ignore GoLand metafiles directory
.idea/

*logs/
!*customlogs/

.vscode*
workspace.code-workspace

*.pb*

*cpu[0-9]*
*mem[0-9]*
*lock[0-9]*
*.profile
*.swp
*.aux
*.fdb*
*.fls
*.gz
*.pdf

.coverage

bin/
build/

cmd/evm/evm
cmd/simulator/.simulator/*
cmd/simulator/simulator

# goreleaser
dist/

# Outputs of `scripts/diff_against.sh`
diffs/

# clone used for antithesis image builds
avalanchego/

.direnv

# Contract compilation artifacts (binary files are not committed)
contracts/artifacts/
