language: go

go:
- 1.15.5

env:
  global:
  - CODECOV_TOKEN="8c18c993-fc6e-4706-998b-01ddc7987804"
  - AVALANCHE_HOME=$GOPATH/src/github.com/$TRAVIS_REPO_SLUG/
  - E2E_TEST_HOME=$GOPATH/src/github.com/ava-labs/avalanche-testing/
  - COMMIT=${TRAVIS_COMMIT::8}
  - DOCKERHUB_REPO=avaplatform/avalanchego
  - secure: Ozsv2nUqUVSdiaEovsffCBaGIaJdSGEq6zSNr1af74+zhYu1G5Dw3s0u5Uq42NTFygGVAg2ODh1/PSviAK3P7Dzgi3yMtUBD8kAAISJW3lKr/JavBOIsUnekhZYniAS77vUHwpOi6vQxgjhy/ymYxXTSRyHPys7DwZhZcCMiR6Bk/O7w8JbYo2m31mCaJZWpt9m4SCXVr+lK1prYuCOAME5SwKq3eVHfUGKn7w8f7kLUDv6XPLlAjzOQHKq4AD9DwDQX2wubAOc87a4BCti9suaXNyzRtS3AUQXjZkHy8BHyWPnMOIwOT6sVAYEm65fcOPxlawnkbs8ny7xnJMqj9R0tyq7XmnGoaALeXxOcV1B55TFjyo0P48NTugFrdqtQ+LSOvvVQJV/QBoe+sZwUTus+LP5lWl86EnQPGxjll+vXO2Mces+F48eoj9dfPBbBLRLEaxk54l6+H6JHvAG2QRtRG3beh7XbdFYPnt+LEuYdW3kyCRD24JhCrglJlebCnqAKR7GfAICf7ca5+WJj4Fiyyh/tUt4Ss0E53Mvz6NXFNpJVTEcFc3RFjIp/louK1Y2Uxbyr+LT9hw2bvo6Obz9sl/YZs10rCWZnC0zF2WE01tADD8YShrA70349hmtE2FSJLCg2LTVgmTFbS47Rn4QFcmo5AGHDNl31iwj9gKk=
  - secure: Si2xR7IOINZRHtH6DbgxhpOH/oX1XL+DvlutmQVS5ZbjXFmvtqB8CT9uDUAKj38R+sgEmAwOENLJcl7SWZfXDE4EYqlcafh/pcBMjm8O6atWrrwmpZSEiHNba2t+yXBN7z5M/KV777FY43SbOEA+/5Bytcluk3Mxjjl5iFXEWai0RH9jmk7lsHmIyPYsAG9/SRwYgr0uZ3T5872HBD7td7+umiTyWshdT3dOXilYWWflc4eniv/ifp/H6A5k9uXrE50KdtaeDcAl5eAp9mItNd8nLenmaNzDkq6IBTUwy+gmEHctq8YbjmtQhdWtdIXDxPFknpBqKsg7oXgstJt11UVqhDcsnX6Trj1GO8InUykMLRDxWMwlCZfZdAuUvhbrHmbFOWF1ANL5Rl7RzUXSov02WAPvrze/8ZFq2O2f28CVkcWCZy/Vei9EhAwQUyJOug6R/1cSOkcqpovc5yf65dLnpUMb+f4fbMk5Z/YPijJ8VZSFU9ul73re6xcWz9PbxZWqsN2Ubqm6EKRB02gxsLbdl56lHcMl6uawrTUFDoie+alkiqlxP8Ey7Phw43os/lxHq9lQN0bZ2Mkq4LMVc4noa5TQNTNxS/hrAIly7IzZVV0VfiLeHJVT/2BWCUhNqw/jL2lpGTPbH0NqG/wIRAAW9BYDlQKc17vBM9Xvs8g=

jobs:
  include:
  - stage: lint
    os: linux
    dist: bionic
    script:
    - ".ci/lint.sh"

  - stage: build
    os: linux
    dist: bionic
    script:
    - ".ci/build_and_test.sh"
    - ".ci/run_e2e_tests.sh"
    - ".ci/after_success.sh"

  - stage: build
    if: env(TRAVIS_REPO_SLUG) = ava-labs/avalanchego-internal
    os: osx
    osx_image: xcode11.4
    script:
    - ".ci/build_and_test.sh"

  - stage: build
    if: env(TRAVIS_REPO_SLUG) = ava-labs/avalanchego-internal
    os: windows
    script:
    - ".ci/build_and_test.sh"
