# {{ ansible_managed }}

[Unit]
Description=AvalancheGo node
Documentation=https://docs.avax.network/
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
WorkingDirectory={{ avalanche_daemon_home_dir }}
Restart=always
RestartSec=1
User={{ avalanche_daemon_user }}
ExecStart={{ bindir }}/{{ avalanche_binary | basename }} \
{% if avalanche_daemon_dynamic_public_ip %}
            --dynamic-public-ip="{{ avalanche_daemon_dynamic_public_ip }}" \
{% else %}
            --public-ip="{{ avalanche_daemon_public_ip }}" \
{% endif %}
            --http-host="{{ avalanche_daemon_http_host }}" \
            --db-dir="{{ avalanche_daemon_db_dir }}" \
            --log-dir="{{ avalanche_daemon_log_dir }}" \
            --log-level="{{ log_level }}" \
            --staking-tls-cert-file="{{ avalanche_daemon_staking_tls_cert }}" \
            --staking-tls-key-file="{{ avalanche_daemon_staking_tls_key }}"

[Install]
WantedBy=multi-user.target
