[package]
name = "avalanche-proto"
description = "Avalanche P2P protocol message definitions"
version.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
rust-version.workspace = true

[dependencies]
avalanche-ids = { workspace = true }
prost = { workspace = true }
bytes = { workspace = true }
thiserror = { workspace = true }
zstd = { workspace = true }

[dev-dependencies]
proptest = { workspace = true }

[lints]
workspace = true
