[Unit]
Description=Avalanche go client
After=syslog.target network.target

[Service]
User=avalanche
Type=simple
Environment=HOME=/home/avalanche
ExecStart=/usr/local/bin/avalanchego --config-file /etc/avalanchego/conf.json
KillMode=process
KillSignal=SIGINT
TimeoutStopSec=90
Restart=on-failure
RestartSec=10s
LimitNOFILE=65000

[Install]
WantedBy=multi-user.target
