{
  "api-keystore-enabled": false,
  "http-host": "0.0.0.0",
  "log-dir": "{{ log_dir }}",
  "db-dir": "{{ db_dir }}",
  "api-admin-enabled": false,
  "dynamic-public-ip": "opendns",
  "network-id": "{{ network }}"
}
