# {{ ansible_managed }}

[Unit]
Description=AVA test node
Documentation=https://docs.ava.network/
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
WorkingDirectory={{ ava_daemon_home_dir }}
Restart=always
RestartSec=1
User={{ ava_daemon_user }}
ExecStart={{ bindir }}/ava \
            --public-ip="{{ ansible_facts.default_ipv4.address }}" \
            --http-host="{{ ava_daemon_http_host }}" \
            --db-dir="{{ ava_daemon_db_dir }}" \
            --plugin-dir="{{ ava_daemon_plugin_dir }}" \
            --log-dir="{{ ava_daemon_log_dir }}" \
            --log-level="{{ log_level }}" \
            --staking-tls-cert-file="{{ ava_daemon_staking_tls_cert }}" \
            --staking-tls-key-file="{{ ava_daemon_staking_tls_key }}"

[Install]
WantedBy=multi-user.target
