name: Ansible Lint
on:
  push:
    tags:
      - '*' # Push events to every tag
    branches:
      - master

jobs:
  build-ansible:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Lint Ansible playbooks
        # Lastest commit, as of February 22, 2021
        uses: ansible/ansible-lint-action@c37fb7b4bda2c8cb18f4942716bae9f11b0dc9bc
        with:
          targets: |
            scripts/ansible/kill_playbook.yml
            scripts/ansible/ping_playbook.yml
            scripts/ansible/restart_playbook.yml
            scripts/ansible/service_playbook.yml
            scripts/ansible/update_playbook.yml

          args:
            -c scripts/ansible/.ansible-lint
