name: buf-push

on:
  push:
    tags:
      - "*"
    branches:
      - master
      - dev
    paths:
      - "proto/**"

jobs:
  push:
    runs-on: blacksmith-4vcpu-ubuntu-2404
    steps:
      - uses: actions/checkout@v4
      - uses: bufbuild/buf-action@dfda68eacb65895184c76b9ae522b977636a2c47 #v1.1.4
        with:
          input: "proto"
          # Breaking changes are managed by the rpcchainvm protocol version.
          breaking: false
          token: ${{ secrets.BUF_TOKEN }}
          # This version should match the version installed in the nix dev shell
          version: 1.47.2
