name: buf-push

on:
  push:
    tags:
      - "*"
    branches:
      - master
      - dev
    paths:
      - "proto/**"

jobs:
  push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: bufbuild/buf-action@1b8e0a0e793562b7850d7e6ff0228b5c0b16111c #v1.1.0
        with:
          input: "proto"
          # Breaking changes are managed by the rpcchainvm protocol version.
          breaking: false
          token: ${{ secrets.BUF_TOKEN }}
          version: 1.47.2
