name: build-arm64-debian-packages

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Tag to include in artifact name'
        required: true
  push:
    tags:
      - "*"

env:
  go_version: '~1.21.9'

jobs:
  build-jammy-arm64-package:
    runs-on: [self-hosted, linux, ARM64, jammy]

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v3
        with:
          go-version: ${{ env.go_version }}
          check-latest: true
      - run: go version

      - name: Build the avalanchego binaries
        run: ./scripts/build.sh

      - name: Install aws cli
        run: |
          sudo apt update
          sudo apt -y install awscli

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Try to get tag from git
        if: "${{ github.event.inputs.tag == '' }}"
        id: get_tag_from_git
        run: |
          echo "TAG=${GITHUB_REF/refs\/tags\//}" >> $GITHUB_ENV
        shell: bash

      - name: Try to get tag from workflow dispatch
        if: "${{ github.event.inputs.tag != '' }}"
        id: get_tag_from_workflow
        run: |
          echo "TAG=${{ github.event.inputs.tag }}" >> $GITHUB_ENV
        shell: bash

      - name: Create debian package
        run: ./.github/workflows/build-deb-pkg.sh
        env:
          PKG_ROOT: /tmp/avalanchego
          TAG: ${{ env.TAG }}
          BUCKET: ${{ secrets.BUCKET }}
          ARCH: "arm64"
          RELEASE: "jammy"

      - name: Save as Github artifact
        uses: actions/upload-artifact@v4
        with:
          name: jammy
          path: /tmp/avalanchego/avalanchego-${{ env.TAG }}-arm64.deb

      - name: Cleanup
        run: |
          rm -rf ./build
          rm -rf /tmp/avalanchego

  build-focal-arm64-package:
    runs-on: [self-hosted, linux, ARM64, focal]

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v3
        with:
          go-version: ${{ env.go_version }}
          check-latest: true
      - run: go version

      - name: Build the avalanchego binaries
        run: ./scripts/build.sh

      - name: Install aws cli
        run: |
          sudo apt update
          sudo apt -y install awscli

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Try to get tag from git
        if: "${{ github.event.inputs.tag == '' }}"
        id: get_tag_from_git
        run: |
          echo "TAG=${GITHUB_REF/refs\/tags\//}" >> $GITHUB_ENV
        shell: bash

      - name: Try to get tag from workflow dispatch
        if: "${{ github.event.inputs.tag != '' }}"
        id: get_tag_from_workflow
        run: |
          echo "TAG=${{ github.event.inputs.tag }}" >> $GITHUB_ENV
        shell: bash

      - name: Create debian package
        run: ./.github/workflows/build-deb-pkg.sh
        env:
          PKG_ROOT: /tmp/avalanchego
          TAG: ${{ env.TAG }}
          BUCKET: ${{ secrets.BUCKET }}
          ARCH: "arm64"
          RELEASE: "focal"

      - name: Save as Github artifact
        uses: actions/upload-artifact@v4
        with:
          name: focal
          path: /tmp/avalanchego/avalanchego-${{ env.TAG }}-arm64.deb

      - name: Cleanup
        run: |
          rm -rf ./build
          rm -rf /tmp/avalanchego
