name: Unit Tests

on:
  push:
    branches: [chain4travel]
  pull_request:
    branches: [chain4travel]

jobs:
  run_build_unit_tests:
    name: build_unit_test
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: "1.18" # The Go version to download (if necessary) and use.
      - name: test
        shell: bash
        run: scripts/test.sh
