name: Build + Test Mac-Windows

on:
  push:
    tags:
      - '*' # Push events to every tag
    branches:
      - dev
      - master

jobs:
  run_build_tests:
    name: build_tests
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ windows-latest, macos-latest ]
    steps:
      - uses: actions/checkout@v2
      - name: build_test
        shell: bash
        run: .github/workflows/build_and_test.sh
