name: C-Chain Benchmark

on:
  pull_request:
  workflow_dispatch:
    inputs:
      start-block:
        description: 'The start block for the benchmark.'
        required: false
        default: '100'
      end-block:
        description: 'The end block for the benchmark.'
        required: false
        default: '1000000'
      source-block-dir:
        description: 'The source block directory. Supports S3 directory/zip and local directories.'
        required: false
        default: 's3://avalanchego-bootstrap-testing/cchain-mainnet-blocks-1m-ldb.zip'
      current-state-dir:
        description: 'The current state directory. Supports S3 directory/zip and local directories.'
        required: false
        default: 's3://avalanchego-bootstrap-testing/cchain-current-state-hashdb-100.zip'

jobs:
    c-chain-reexecution:
    permissions:
      id-token: write
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_S3_READ_ONLY_ROLE }}
          aws-region: us-east-2
      - name: Set task env via GITHUB_ENV
        id: set-params
        run: |
          if [[ "${{ github.event_name }}" == "workflow_dispatch" ]]; then
            echo "START_BLOCK=${{ github.event.inputs.start-block }}"
            echo "END_BLOCK=${{ github.event.inputs.end-block }}"
            echo "SOURCE_BLOCK_DIR=${{ github.event.inputs.source-block-dir }}"
            echo "CURRENT_STATE_DIR=${{ github.event.inputs.current-state-dir }}"
          else
            echo "START_BLOCK=100"
            echo "END_BLOCK=10000"
            echo "SOURCE_BLOCK_DIR=s3://avalanchego-bootstrap-testing/cchain-mainnet-blocks-1m-ldb.zip"
            echo "CURRENT_STATE_DIR=s3://avalanchego-bootstrap-testing/cchain-current-state-hashdb-100.zip"
          fi
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-go-for-project
      - name: Run C-Chain Re-Execution
        uses: ./.github/actions/run-monitored-tmpnet-cmd
        with:
          run: EXECUTION_DATA_DIR=$HOME/reexecution-data bash -x ./scripts/run_task.sh reexecute-cchain-range-with-copied-data
          artifact_prefix: c-chain-reexecute-range
          prometheus_username: ${{ secrets.PROMETHEUS_ID || '' }}
          prometheus_password: ${{ secrets.PROMETHEUS_PASSWORD || '' }}
          loki_username: ${{ secrets.LOKI_ID || '' }}
          loki_password: ${{ secrets.LOKI_PASSWORD || '' }}
          runtime: "" # Set runtime input to empty string to disable log collection