name: CI
on: [pull_request, push]

jobs:
  test:
    name: Golang v1.15.5 (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-10.15, macos-11.0, ubuntu-18.04, ubuntu-20.04, windows-latest]
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-go@v1
      with:
        go-version: 1.15.5
    - run: ./scripts/build.sh
      shell: bash
    - run: ./scripts/build_test.sh
      shell: bash
    - if: startsWith(matrix.os, 'ubuntu')
      run: .ci/run_e2e_tests.sh
    - if: startsWith(matrix.os, 'ubuntu')
      run: .ci/after_success.sh

  ansible-lint:
    name: Ansible Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ansible/ansible-lint-action@master
        with:
          targets: |
            scripts/ansible/kill_playbook.yml
            scripts/ansible/ping_playbook.yml
            scripts/ansible/restart_playbook.yml
            scripts/ansible/service_playbook.yml
            scripts/ansible/update_playbook.yml
          args:
            -c scripts/ansible/.ansible-lint

  golang-lint:
      name: Golang Lint
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v2
        - uses: golangci/golangci-lint-action@v2
          with:
            version: v1.30
            args: --max-same-issues 0 --timeout 1m30s
