name: Tests

on:
  push:
    tags:
      - "*"
    branches:
      - master
      - dev
  pull_request:
  merge_group:
    types: [checks_requested]

permissions:
  contents: read

# Cancel ongoing workflow runs if a new one is started
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  #  Unit:
  #    runs-on: ${{ matrix.os }}
  #    strategy:
  #      fail-fast: false
  #      matrix:
  #        os: [macos-14, ubuntu-22.04, ubuntu-24.04, custom-arm64-jammy, custom-arm64-noble]
  #    steps:
  #      - uses: actions/checkout@v4
  #      - uses: ./.github/actions/setup-go-for-project
  #      - name: test-unit
  #        shell: bash
  #        run: ./scripts/run_task.sh test-unit
  #        env:
  #          TIMEOUT: ${{ env.TIMEOUT }}
  #  Fuzz:
  #    runs-on: ubuntu-latest
  #    steps:
  #      - uses: actions/checkout@v4
  #      - uses: ./.github/actions/setup-go-for-project
  #      - name: test-fuzz
  #        shell: bash
  #        run: ./scripts/run_task.sh test-fuzz
  #  e2e:
  #    runs-on: ubuntu-latest
  #    steps:
  #      - uses: actions/checkout@v4
  #      - uses: ./.github/actions/setup-go-for-project
  #      - name: Run e2e tests
  #        uses: ./.github/actions/run-monitored-tmpnet-cmd
  #        with:
  #          run: ./scripts/run_task.sh test-e2e-ci
  #          artifact_prefix: e2e
  #          filter_by_owner: avalanchego-e2e
  #          prometheus_username: ${{ secrets.PROMETHEUS_ID || '' }}
  #          prometheus_password: ${{ secrets.PROMETHEUS_PASSWORD || '' }}
  #          loki_username: ${{ secrets.LOKI_ID || '' }}
  #          loki_password: ${{ secrets.LOKI_PASSWORD || '' }}
  #  e2e_post_granite:
  #    runs-on: ubuntu-latest
  #    steps:
  #      - uses: actions/checkout@v4
  #      - uses: ./.github/actions/setup-go-for-project
  #      - name: Run e2e tests
  #        uses: ./.github/actions/run-monitored-tmpnet-cmd
  #        with:
  #          run: ./scripts/run_task.sh test-e2e-ci -- --activate-granite
  #          artifact_prefix: e2e-post-granite
  #          filter_by_owner: avalanchego-e2e
  #          prometheus_username: ${{ secrets.PROMETHEUS_ID || '' }}
  #          prometheus_password: ${{ secrets.PROMETHEUS_PASSWORD || '' }}
  #          loki_username: ${{ secrets.LOKI_ID || '' }}
  #          loki_password: ${{ secrets.LOKI_PASSWORD || '' }}
  #  e2e_kube:
  #    runs-on: ubuntu-latest
  #    steps:
  #      - uses: actions/checkout@v4
  #      - uses: ./.github/actions/setup-go-for-project
  #      - uses: ./.github/actions/run-monitored-tmpnet-cmd
  #        with:
  #          run: ./scripts/run_task.sh test-e2e-kube-ci
  #          runtime: kube
  #          artifact_prefix: e2e-kube
  #          filter_by_owner: avalanchego-e2e
  #          prometheus_username: ${{ secrets.PROMETHEUS_ID || '' }}
  #          prometheus_password: ${{ secrets.PROMETHEUS_PASSWORD || '' }}
  #          loki_username: ${{ secrets.LOKI_ID || '' }}
  #          loki_password: ${{ secrets.LOKI_PASSWORD || '' }}
  #  e2e_existing_network:
  #    runs-on: ubuntu-latest
  #    steps:
  #      - uses: actions/checkout@v4
  #      - uses: ./.github/actions/setup-go-for-project
  #      - name: Run e2e tests with existing network
  #        uses: ./.github/actions/run-monitored-tmpnet-cmd
  #        with:
  #          run: ./scripts/run_task.sh test-e2e-existing-ci
  #          artifact_prefix: e2e-existing-network
  #          prometheus_username: ${{ secrets.PROMETHEUS_ID || '' }}
  #          prometheus_password: ${{ secrets.PROMETHEUS_PASSWORD || '' }}
  #          loki_username: ${{ secrets.LOKI_ID || '' }}
  #          loki_password: ${{ secrets.LOKI_PASSWORD || '' }}
  #  Upgrade:
  #    runs-on: ubuntu-latest
  #    steps:
  #      - uses: actions/checkout@v4
  #      - uses: ./.github/actions/setup-go-for-project
  #      - name: Run e2e tests
  #        uses: ./.github/actions/run-monitored-tmpnet-cmd
  #        with:
  #          run: ./scripts/run_task.sh test-upgrade
  #          artifact_prefix: upgrade
  #          prometheus_username: ${{ secrets.PROMETHEUS_ID || '' }}
  #          prometheus_password: ${{ secrets.PROMETHEUS_PASSWORD || '' }}
  #          loki_username: ${{ secrets.LOKI_ID || '' }}
  #          loki_password: ${{ secrets.LOKI_PASSWORD || '' }}
  #  Lint:
  #    runs-on: ubuntu-latest
  #    steps:
  #      - uses: actions/checkout@v4
  #      - uses: ./.github/actions/setup-go-for-project
  #      - uses: ./.github/actions/install-nix
  #      - name: Runs all lint checks
  #        shell: nix develop --command bash -x {0}
  #        run: ./scripts/run_task.sh lint-all-ci
  #  buf-lint:
  #    name: Protobuf Lint
  #    runs-on: ubuntu-latest
  #    steps:
  #      - uses: actions/checkout@v4
  #      - uses: bufbuild/buf-action@dfda68eacb65895184c76b9ae522b977636a2c47 #v1.1.4
  #        with:
  #          input: "proto"
  #          pr_comment: false
  #          # Breaking changes are managed by the rpcchainvm protocol version.
  #          breaking: false
  #          # buf-action defaults to pushing on non-fork branch pushes
  #          # which is never desirable for this job. The buf-push job is
  #          # responsible for pushes.
  #          push: false
  #          # This version should match the version installed in the nix dev shell
  #          version: 1.52.1
  #  links-lint:
  #    name: Markdown Links Lint
  #    runs-on: ubuntu-latest
  #    steps:
  #      - uses: actions/checkout@v4
  #      - uses: umbrelladocs/action-linkspector@de84085e0f51452a470558693d7d308fbb2fa261 #v1.2.5
  #        with:
  #          fail_level: any
  #  check_generated_protobuf:
  #    name: Up-to-date protobuf
  #    runs-on: ubuntu-latest
  #    steps:
  #      - uses: actions/checkout@v4
  #      - uses: ./.github/actions/setup-go-for-project
  #      # Use the dev shell instead of bufbuild/buf-action to ensure the dev shell provides the expected versions
  #      - uses: ./.github/actions/install-nix
  #      - shell: nix develop --command bash -x {0}
  #        run: ./scripts/run_task.sh check-generate-protobuf
  #  check_mockgen:
  #    name: Up-to-date mocks
  #    runs-on: ubuntu-latest
  #    steps:
  #      - uses: actions/checkout@v4
  #      - uses: ./.github/actions/setup-go-for-project
  #      - shell: bash
  #        run: ./scripts/run_task.sh check-generate-mocks
  #  check_canotogen:
  #    name: Up-to-date canoto
  #    runs-on: ubuntu-latest
  #    steps:
  #      - uses: actions/checkout@v4
  #      - uses: ./.github/actions/setup-go-for-project
  #      - shell: bash
  #        run: ./scripts/run_task.sh check-generate-canoto
  #  check_contract_bindings:
  #    name: Up-to-date contract bindings
  #    runs-on: ubuntu-latest
  #    steps:
  #      - uses: actions/checkout@v4
  #      - uses: ./.github/actions/setup-go-for-project
  #      - uses: ./.github/actions/install-nix
  #      - shell: nix develop --command bash -x {0}
  #        run: task check-generate-load-contract-bindings
  #  go_mod_tidy:
  #    name: Up-to-date go.mod and go.sum
  #    runs-on: ubuntu-latest
  #    steps:
  #      - uses: actions/checkout@v4
  #      - uses: ./.github/actions/setup-go-for-project
  #      - shell: bash
  #        run: ./scripts/run_task.sh check-go-mod-tidy
  #  test_build_image:
  #    name: Image build
  #    runs-on: ubuntu-latest
  #    steps:
  #      - uses: actions/checkout@v4
  #      - name: Install qemu (required for cross-platform builds)
  #        run: |
  #          sudo apt update
  #          sudo apt -y install qemu-system qemu-user-static
  #      - name: Check image build
  #        shell: bash
  #        run: ./scripts/run_task.sh test-build-image
  #  test_build_antithesis_avalanchego_images:
  #    name: Build Antithesis avalanchego images
  #    runs-on: ubuntu-latest
  #    steps:
  #      - uses: actions/checkout@v4
  #      - uses: ./.github/actions/setup-go-for-project
  #      - name: Check image build for avalanchego test setup
  #        shell: bash
  #        run: ./scripts/run_task.sh test-build-antithesis-images-avalanchego
  #  test_build_antithesis_xsvm_images:
  #    name: Build Antithesis xsvm images
  #    runs-on: ubuntu-latest
  #    steps:
  #      - uses: actions/checkout@v4
  #      - uses: ./.github/actions/setup-go-for-project
  #      - name: Check image build for xsvm test setup
  #        shell: bash
  #        run: ./scripts/run_task.sh test-build-antithesis-images-xsvm
  #  e2e_bootstrap_monitor:
  #    name: Run bootstrap monitor e2e tests
  #    runs-on: ubuntu-latest
  #    steps:
  #      - uses: actions/checkout@v4
  #      - uses: ./.github/actions/setup-go-for-project
  #      - uses: ./.github/actions/install-nix
  #      - name: Run e2e tests
  #        shell: bash
  #        run: nix develop --command ./scripts/run_task.sh test-bootstrap-monitor-e2e
  #  load:
  #    name: Run process-based load test
  #    runs-on: ubuntu-latest
  #    steps:
  #      - uses: actions/checkout@v4
  #      - uses: ./.github/actions/setup-go-for-project
  #      - uses: ./.github/actions/run-monitored-tmpnet-cmd
  #        with:
  #          run: ./scripts/run_task.sh test-load -- --load-timeout=30s
  #          artifact_prefix: load
  #          prometheus_username: ${{ secrets.PROMETHEUS_ID || '' }}
  #          prometheus_password: ${{ secrets.PROMETHEUS_PASSWORD || '' }}
  #          loki_username: ${{ secrets.LOKI_ID || '' }}
  #          loki_password: ${{ secrets.LOKI_PASSWORD || '' }}
  #  load_kube_kind:
  #    name: Run load test on kind cluster
  #    runs-on: ubuntu-latest
  #    steps:
  #      - uses: actions/checkout@v4
  #      - uses: ./.github/actions/setup-go-for-project
  #      - uses: ./.github/actions/run-monitored-tmpnet-cmd
  #        with:
  #          run: ./scripts/run_task.sh test-load-kube-kind -- --load-timeout=30s
  #          runtime: kube
  #          artifact_prefix: load-kube
  #          prometheus_username: ${{ secrets.PROMETHEUS_ID || '' }}
  #          prometheus_password: ${{ secrets.PROMETHEUS_PASSWORD || '' }}
  #          loki_username: ${{ secrets.LOKI_ID || '' }}
  #          loki_password: ${{ secrets.LOKI_PASSWORD || '' }}
  #  robustness:
  #    runs-on: ubuntu-latest
  #    steps:
  #      - uses: actions/checkout@v4
  #      - uses: ./.github/actions/setup-go-for-project
  #      - uses: ./.github/actions/install-nix
  #        # TODO(marun) Extend testing of robustness beyond deploying a suitable test environment
  #      - name: Deploy kind with chaos mesh
  #        shell: bash
  #        run: nix develop --command ./scripts/run_task.sh test-robustness
  firewood_load_test:
    name: Run firewood load test on self-hosted runners
    runs-on: avalanche-avalanchego-runner
    container:
      image: ghcr.io/actions/actions-runner:2.325.0
    steps:
      - name: Install dependencies
        shell: bash
        # The xz-utils might be present on some containers
        run: |
          if ! command -v xz &> /dev/null; then
            sudo apt-get update
            sudo apt-get install -y xz-utils
          fi
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-go-for-project
      - name: Run load test
        uses: ./.github/actions/run-monitored-tmpnet-cmd
        with:
          run: >-
            ./scripts/run_task.sh test-load-kube --
            --firewood
            --load-timeout=300s
            --kube-image ghcr.io/elvis339/avgo_unstable:b6f97693
          artifact_prefix: firewood-self-hosted-load-test
          prometheus_username: ${{ secrets.PROMETHEUS_ID || '' }}
          prometheus_password: ${{ secrets.PROMETHEUS_PASSWORD || '' }}
          loki_username: ${{ secrets.LOKI_ID || '' }}
          loki_password: ${{ secrets.LOKI_PASSWORD || '' }}
  load_test:
    name: Run load test on self-hosted runners
    runs-on: avalanche-avalanchego-runner
    container:
      image: ghcr.io/actions/actions-runner:2.325.0
    steps:
      - name: Install dependencies
        shell: bash
        # The xz-utils might be present on some containers
        run: |
          if ! command -v xz &> /dev/null; then
            sudo apt-get update
            sudo apt-get install -y xz-utils
          fi
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-go-for-project
      - name: Run load test
        uses: ./.github/actions/run-monitored-tmpnet-cmd
        with:
          run: >-
            ./scripts/run_task.sh test-load-kube --
            --load-timeout=300s
            --kube-image avaplatform/avalanchego:latest
          artifact_prefix: self-hosted-load-test
          prometheus_username: ${{ secrets.PROMETHEUS_ID || '' }}
          prometheus_password: ${{ secrets.PROMETHEUS_PASSWORD || '' }}
          loki_username: ${{ secrets.LOKI_ID || '' }}
          loki_password: ${{ secrets.LOKI_PASSWORD || '' }}
  compare-runs:
    name: Compare Firewood vs Standard Load Tests
    runs-on: ubuntu-latest
    needs: [load_test, firewood_load_test]
    steps:
      - uses: actions/checkout@v4
      - name: Metric analysis
        uses: ./.github/actions/metrics-analysis
        with:
          queries:
            - query: 'sum by (chain) (rate(avalanche_evm_eth_chain_block_gas_used_processed[1m])) / 1e+06'
              metric_name: 'Gas Usage Rate'
              y_axis_label: 'Gas/sec (millions)'
            - query: 'sum by (chain) (rate(avalanche_evm_eth_chain_account_commits{chain="C"}[1m])) / (sum by (chain) (rate(avalanche_evm_eth_chain_account_commits{chain="C"}[1m])) + sum by (chain) (rate(avalanche_evm_eth_chain_storage_commits{chain="C"}[1m])) + sum by (chain) (rate(avalanche_evm_eth_chain_snapshot_commits{chain="C"}[1m])) + sum by (chain) (rate(avalanche_evm_eth_chain_triedb_commits{chain="C"}[1m])) + 0.000001)'
              metric_name: 'Account Commits Ratio'
              y_axis_label: 'Ratio'
            - query: 'sum by (chain) (rate(avalanche_evm_eth_chain_storage_commits{chain="C"}[1m])) / (sum by (chain) (rate(avalanche_evm_eth_chain_account_commits{chain="C"}[1m])) + sum by (chain) (rate(avalanche_evm_eth_chain_storage_commits{chain="C"}[1m])) + sum by (chain) (rate(avalanche_evm_eth_chain_snapshot_commits{chain="C"}[1m])) + sum by (chain) (rate(avalanche_evm_eth_chain_triedb_commits{chain="C"}[1m])) + 0.000001)'
              metric_name: 'Storage Commits Ratio'
              y_axis_label: 'Ratio'
            - query: 'sum by (chain) (rate(avalanche_evm_eth_chain_snapshot_commits{chain="C"}[1m])) / (sum by (chain) (rate(avalanche_evm_eth_chain_account_commits{chain="C"}[1m])) + sum by (chain) (rate(avalanche_evm_eth_chain_storage_commits{chain="C"}[1m])) + sum by (chain) (rate(avalanche_evm_eth_chain_snapshot_commits{chain="C"}[1m])) + sum by (chain) (rate(avalanche_evm_eth_chain_triedb_commits{chain="C"}[1m])) + 0.000001)'
              metric_name: 'Snapshot Commits Ratio'
              y_axis_label: 'Ratio'
            - query: 'sum by (chain) (rate(avalanche_evm_eth_chain_triedb_commits{chain="C"}[1m])) / (sum by (chain) (rate(avalanche_evm_eth_chain_account_commits{chain="C"}[1m])) + sum by (chain) (rate(avalanche_evm_eth_chain_storage_commits{chain="C"}[1m])) + sum by (chain) (rate(avalanche_evm_eth_chain_snapshot_commits{chain="C"}[1m])) + sum by (chain) (rate(avalanche_evm_eth_chain_triedb_commits{chain="C"}[1m])) + 0.000001)'
              metric_name: 'Triedb Commits Ratio'
              y_axis_label: 'Ratio'
          prometheus_username: ${{ secrets.PROMETHEUS_ID || '' }}
          prometheus_password: ${{ secrets.PROMETHEUS_PASSWORD || '' }}
