name: Coreth
on:
  push:
    branches:
      - master
  pull_request:
  merge_group:
    types: [checks_requested]

jobs:
  lint_test:
    name: Lint
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./graft/coreth
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/install-nix
      - name: Run all lint checks
        shell: nix develop --command bash -x {0}
        run: ./scripts/run_task.sh lint-all-ci
      - name: Check go.mod and go.sum are up-to-date
        shell: nix develop --command bash -x {0}
        run: ./scripts/run_task.sh check-go-mod-tidy

  unit_test:
    name: Unit Tests (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        working-directory: ./graft/coreth
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, ubuntu-22.04, ubuntu-latest]
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-go-for-project
      - run: ./scripts/run_task.sh build-test
      - run: ./scripts/run_task.sh coverage

  e2e_warp:
    name: E2E Warp Tests
    runs-on: ubuntu-latest
    steps:
      - name: Git checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Run Warp E2E Tests
        uses: ./.github/actions/run-monitored-tmpnet-cmd
        with:
          run: ./scripts/run_task.sh test-e2e-warp-ci
          working_directory: ./graft/coreth
          artifact_prefix: warp
          prometheus_url: ${{ secrets.PROMETHEUS_URL || '' }}
          prometheus_push_url: ${{ secrets.PROMETHEUS_PUSH_URL || '' }}
          prometheus_username: ${{ secrets.PROMETHEUS_ID || '' }}
          prometheus_password: ${{ secrets.PROMETHEUS_PASSWORD || '' }}
          loki_url: ${{ secrets.LOKI_URL || '' }}
          loki_push_url: ${{ secrets.LOKI_PUSH_URL || '' }}
          loki_username: ${{ secrets.LOKI_ID || '' }}
          loki_password: ${{ secrets.LOKI_PASSWORD || '' }}
