name: Load Test with Firewood for 30 minutes

on:
  workflow_dispatch:
  schedule:
    - cron: '0 9 * * *' # Runs every day at 09:00 UTC (04:00 EST)

jobs:
  load-test:
    runs-on: avalanche-avalanchego-runner
    container:
      image: ghcr.io/actions/actions-runner:2.325.0
    steps:
      - name: Install dependencies
        shell: bash
        # The xz-utils might be present on some containers
        run: |
          if ! command -v xz &> /dev/null; then
            sudo apt-get update
            sudo apt-get install -y xz-utils
          fi
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-go-for-project
      - uses: ./.github/actions/run-monitored-tmpnet-cmd
        with:
          run: ./scripts/run_task.sh test-load -- --load-timeout=30m --firewood
          artifact_prefix: load
          prometheus_username: ${{ secrets.PROMETHEUS_ID || '' }}
          prometheus_password: ${{ secrets.PROMETHEUS_PASSWORD || '' }}
          loki_username: ${{ secrets.LOKI_ID || '' }}
          loki_password: ${{ secrets.LOKI_PASSWORD || '' }}
