name: Run fuzz tests

on:
  schedule:
    - cron: "0 0 * * *" # Once a day at midnight UTC

permissions:
  contents: read

jobs:
  fuzz:
    runs-on: ubuntu-latest
    steps:
      - name: Git checkout
        uses: actions/checkout@v4
      - name: Set up Go
        uses: ./.github/actions/setup-go-for-project
      - name: Run fuzz tests
        run: ./scripts/run_task.sh test-fuzz-long
