name: labels
on:
  push:
    branches:
      - master
    paths:
      - .github/labels.yml
      - .github/workflows/labels.yml
  pull_request: # dry run only
    paths:
      - .github/labels.yml
      - .github/workflows/labels.yml

jobs:
  labeler:
    permissions:
      contents: read
      issues: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: crazy-max/ghaction-github-labeler@24d110aa46a59976b8a7f35518cb7f14f434c916 #v5.3.0
        with:
          dry-run: ${{ github.event_name == 'pull_request' }}
