name: publish

on:
  workflow_dispatch:
  release:
    types: [published]

jobs:
  publish-firewood-crate:
    name: firewood-lib
    runs-on: ubuntu-latest
    if: "startsWith(github.event.release.tag_name, 'v')"
    steps:
      - uses: actions/checkout@v1
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
      - name: publish firewood crate
        continue-on-error: true
        run: |
          cargo login ${{ secrets.CARGO_TOKEN }}
          cargo publish
