name: Test upgrade

on:
  push:
    # As long we dont have compareable versions ...
    branches-ignore: ["*"]
  pull_request:
    # As long we dont have compareable versions ...
    branches-ignore: ["*"]

permissions:
  contents: read

jobs:
  test_upgrade:
    runs-on: ubuntu-latest
    steps:
      - name: Git checkout
        uses: actions/checkout@v3
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.18
      - name: Build the caminogo binaries
        shell: bash
        run: ./scripts/build.sh
      - name: Run upgrade tests
        shell: bash
        run: scripts/tests.upgrade.sh 0.0.0 ./build/caminogo
